<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}'s CV</title>
    <link href={% static "css/styles.css" %} rel="stylesheet">
</head>
<body>
    <div class="cv">
        <header>
            <h1>{{ name }}</h1>
            <div class="flex">
                <p>{{ profession }}</p>
                <p><a href="mailto:{{ email }}">{{ email }}</a></p>
                <p><a href="{{ linkedin }}" target="_blank">LinkedIn</a></p>
                <p><a href="{{ github }}" target="_blank">GitHub</a></p>
            </div>
        </header>

        <section>
            <h2>Education</h2>
            <ul>
                {% for education in educations %}
                <li>
                    <strong>{{ education.degree }} {{ education.field }}</strong><br>
                    {{ education.school }} ({{ education.start_year }} - {{ education.end_year }})<br>
                    {% comment %} CGPA: {{ education.cgpa }} {% endcomment %}
                </li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Work Experience</h2>
            <ul>
                {% for job in work_experiences %}
                <li>
                    <strong>{{ job.title }}</strong> at {{ job.company }}<br>
                    {{ job.start_date }} - {{ job.end_date }}<br>
                    <p>{{ job.description }}</p>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Skills</h2>
            <ul class="skills">
                {% for skill in skills %}
                <li>{{ skill }}</li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Projects</h2>
            <ul>
                {% for project in projects %}
                <li>
                    <strong>{{ project.title }}</strong><br>
                    {{ project.description }}
                </li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Leadership Experience</h2>
            <ul>
                {% for leadership in leaderships %}
                <li>
                    <strong>{{ leadership.title }}</strong><br>
                    {{ leadership.start_date }} – {{ leadership.end_date }}<br>
                    <p>{{ leadership.description }}</p>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Awards & Achievements</h2>
            <ul>
                {% for award in awards %}
                <li>{{ award }}</li>
                {% endfor %}
            </ul>
        </section>
    </div>
</body>
</html>
